.icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  opacity: 0;
  transition: all 0.6s ease;

}

.icons:hover{
  cursor: pointer;
  transition: all 1s;
}


.card:hover .icons{
    opacity: 1;
}

.eye:hover{
  color: rgb(61, 61, 238);
  transition: all 1s;
}

.heart:hover{
  color: #ff498b;
  transition: all 1s;
}


.ad-card-badge {
  position: absolute;
  right: 0;
  top: 0;
  width: 120px;
  border-radius: 0 10px 0 10px;
  background-color: #ff498b;
  text-align: center;
  color: white;
  padding: 3px 0;
}
