<div class=" grid grid-cols-1 md:grid-cols-2 min-h-screen overflow-hidden">
    <div class=" ps-5 ">
        <img src="./assets/images/logo.svg" class="ps-5 pt-6" alt="">
        <div class="flex justify-center items-center flex-col">
            <div class=" w-3/4 m-auto  my-10">
                <h2 class="text-4xl my-5">Sign in</h2>
                <p>If you don’t have an account register</p>
                <p>You can <a routerLink="/auth/createUser" class="text-[#EB5148] font-bold">Register here !</a></p>
            </div>
            <div class="w-3/4 m-auto ">
                <form class="w-full" [formGroup]="loginForm" (ngSubmit)="login()">
                    <div>
                        <mat-label class="text-[#152C5B]">Email Address</mat-label>

                        <mat-form-field  appearance="outline" class="w-full mt-4">
                            <input type="email" matInput placeholder="Enter your E-mail" formControlName="email" />
                        </mat-form-field>
                        <mat-error
                            *ngIf="(loginForm.get('email')?.errors?.['required'] || loginForm.get('email')?.errors?.['email']) && loginForm.get('email')?.touched">
                            E-mail is required or incorrect
                        </mat-error>
                    </div>

                    <div>
                        <mat-label  class="text-[#152C5B]">Password</mat-label>

                        <mat-form-field appearance="outline" class="w-full mt-4">
                            <input matInput placeholder="Enter your Password" [type]="hide ? 'password' : 'text'"
                                formControlName="password" />
                            <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon class="custom-icon">{{
                                    hide ? "visibility_off" : "visibility"
                                    }}</mat-icon>
                            </button>
                        </mat-form-field>
                        <mat-error
                            *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched">
                            Password is required
                        </mat-error>
                        <mat-error
                            *ngIf="loginForm.get('password')?.errors?.['minlength'] && loginForm.get('password')?.touched">
                            Password must be at least 3 characters
                        </mat-error>
                        <mat-error
                            *ngIf="loginForm.get('password')?.errors?.['maxlength'] && loginForm.get('password')?.touched">
                            Password must be more 3 characters
                        </mat-error>
                    </div>

                    <a class="float-end " routerLink="/auth/forgetPassword">Forgot Password ?</a>



                    <button [disabled]="loginForm.invalid" [class.btn-disabled]="loginForm.invalid" type="submit"
                        class="btn my-20 w-full" color="primary">Login</button>
                </form>
            </div>
        </div>


    </div>
    <div class="w-full min-h-full p-2 ">
        <div class="w-full h-full sideImg text-white relative">
            <div class="absolute top-3/4  w-full ps-16">
                <p class="text-5xl pb-3 w-full">Sign in to Roamhome</p>
                <h3>Homes as unique as you.</h3>
            </div>
        </div>
    </div>

</div>
