<div class=" grid grid-cols-1 md:grid-cols-2 min-h-screen overflow-hidden">
  <div class=" ps-5 ">
    <img src="./assets/images/logo.svg" class="ps-5 pt-6" alt="">
    <div class="flex justify-center items-center flex-col">
      <div class=" w-3/4 m-auto  my-10">
        <h2 class="text-4xl my-5">Reset Password</h2>
        <p> If you already have an account You can <a routerLink="/auth/login" class="text-[#EB5148] font-bold">
            Login here !</a></p>
      </div>
      <div class="w-3/4 m-auto ">
        <form class="w-full" [formGroup]="resetPassForm" (ngSubmit)="onSubmit(resetPassForm)">


          <div>
            <mat-label class="text-[#152C5B]">Email Address</mat-label>
            <mat-form-field  appearance="outline" class="w-full transparent-input mt-4">
              <input type="email" matInput placeholder="Enter your E-mail" formControlName="email" />
              <mat-error
                *ngIf="(resetPassForm.get('email')?.errors?.['required'] || resetPassForm.get('email')?.errors?.['email']) && resetPassForm.get('email')?.touched">
                E-mail is required or incorrect
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-label class="text-[#152C5B]">OTP</mat-label>
            <mat-form-field class="w-full transparent-input mt-4">
              <input type="text" matInput placeholder="Enter your Code" formControlName="seed" />
              <mat-error *ngIf="resetPassForm.get('seed')?.errors?.['required']  && resetPassForm.get('seed')?.touched">
                OTP Code is required or incorrect
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-label class="text-[#152C5B]">Password</mat-label>
            <mat-form-field class="w-full mt-4">
              <input matInput placeholder="Enter your Password" [type]="hidePassword ? 'password' : 'text'"
                formControlName="password" />
              <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'hidePassword password'" [attr.aria-pressed]="hidePassword">
                <mat-icon class="custom-icon">{{
                  hidePassword ? "visibility_off" : "visibility"
                  }}</mat-icon>
              </button>
              <mat-error
                *ngIf="resetPassForm.get('password')?.errors?.['required'] && resetPassForm.get('password')?.touched">
                Password is required
              </mat-error>
              <mat-error
                *ngIf="resetPassForm.get('password')?.errors?.['minlength'] && resetPassForm.get('password')?.touched">
                Password must be at least 3 characters
              </mat-error>
              <mat-error
                *ngIf="resetPassForm.get('password')?.errors?.['maxlength'] && resetPassForm.get('password')?.touched">
                Maximum length is 20 characters
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-label class="text-[#152C5B]">Confirm Password</mat-label>
            <mat-form-field class="w-full mt-4">
              <input matInput placeholder="Enter Confirm Password" [type]="hideConfirmPassword ? 'password' : 'text'"
                formControlName="confirmPassword" />
              <button type="button" mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
                [attr.aria-label]="'HideConfirmPassword password'" [attr.aria-pressed]="hideConfirmPassword">
                <mat-icon class="custom-icon">{{
                  hideConfirmPassword ? "visibility_off" : "visibility"
                  }}</mat-icon>
              </button>
            </mat-form-field>
            <mat-error
              *ngIf="resetPassForm.get('confirmPassword')?.hasError('required') && resetPassForm.get('confirmPassword')?.touched">
              Confirm Password is required
            </mat-error>
            <mat-error *ngIf="resetPassForm.hasError('mismatch') && resetPassForm.get('confirmPassword')?.touched">
              Confirm Password must match Password
            </mat-error>
          </div>
          <button type="submit" [disabled]="resetPassForm.invalid" [class.btn-disabled]="resetPassForm.invalid"
            class="btn my-5 w-full" color="primary">Reset</button>
        </form>
      </div>
    </div>
  </div>
  <div class="w-full min-h-full p-2 hidden md:block">
    <div class="w-full h-full sideImg text-white relative">
      <div class="absolute top-3/4  w-full ps-16">
        <p class="text-5xl pb-3 w-full">Reset Password</p>
        <h3>Homes as unique as you.</h3>
      </div>
    </div>
  </div>
</div>
