.sideImg {
  background-image: url(../../../../../assets/images/forgetPass.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius:15px;
}
