<section>
  <div class="container my-10 py-5">
    <div class="welcome-section flex justify-between flex-wrap mt-5">
      <div class="mt-2">
        <h1 class="text-4xl font-extrabold text-blue-900">
          {{ "Home-welcome-section.Header" | translate }}
        </h1>
        <h2 class="text-4xl font-extrabold text-blue-900 my-2">
          {{ "Home-welcome-section.Header_Two" | translate }}
        </h2>
        <p class="text-gray-400 text-lg mt-6">
          {{ "Home-welcome-section.paragraph_one" | translate }}
        </p>
        <p class="text-gray-400 text-lg">
          {{ "Home-welcome-section.paragraph_Two" | translate }}
        </p>
        <div class="form-wrapper mt-4 w-96">
          <p class="text-blue-900 font-medium">{{ "Home-welcome-section.booking" | translate }}
          </p>
          <form [formGroup]="range">
            <mat-form-field class="w-full">
              <mat-label class="my-6">Pick a Date</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Start date" />
                <input matEndDate formControlName="end" placeholder="End date" />
              </mat-date-range-input>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </form>

        </div>
        <label for="Capacity" class="block my-3 text-blue-900 font-medium">{{"Home-welcome-section.capacity" |
          translate }}</label>
        <div class="input-wrapper bg-blue-400 w-96">
          <button class="bg-red-600 px-5 py-1 rounded-s minus text-white"> - </button>
          <input type="text" class="bg-gray-200 text-center w-full py-1 " value="person" id="Capacity">
          <button class="bg-green-600 px-5 py-1 rounded-e plus text-white">+</button>
        </div>
        <div class="w-96">
          <button class="bg-blue-600 w-44 py-2 rounded-md my-8 text-white" (click)="explore(range)">{{'Home-welcome-section.explore' |translate}}</button>
        </div>
      </div>
      <div class="welcome-section-img"   [ngClass]="lang === 'en' ? 'welcome-section-img-english' : 'welcome-section-img-arabic'">
        <img src="/assets/images/image 3.png" alt="" />
        <div class="layer"></div>
      </div>
    </div>
    <!-- start second section -->
    <div class="Most-popular-ads mt-6">
      <h3 class="my-5 text-2xl font-medium">
        {{ "home_Most_popular_ads.title" | translate }}
      </h3>
      <div class="grid grid-cols-12 gap-12">
        <div class="col-span-12 md:col-span-3">
          <div *ngIf="roomList.length > 0" class="Most-popular-ads-content">
            <div class="room-description relative card">
              <img [src]="roomList[2].images[0]" alt="" />
              <span class="ad-card-badge">{{ roomList[2].discount | currency
                }}<span class="text-xs font-thin"> per night </span></span>
              <div class="icons">
                <span [routerLink]="['/RoomDetails',roomList[2]._id]"
                  class="mx-2"><mat-icon class="eye">visibility</mat-icon></span><button (click)="addToFavourite(roomList[2]._id)"><mat-icon class="heart">favorite</mat-icon></button>
              </div>
              <div class="room-content">
                <h1>{{ roomList[2].roomNumber}}</h1>
                <h1>Lorem ipsum mollitia</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="col-span-12 lg:col-span-9">
          <div class="grid col-span-12 grid-cols-12 gap-5 ">
            <div *ngFor="let room of roomList | slice : 2 : 6" class="col-span-6">
              <div class="room-description relative ad-card card">
                <img *ngIf="room.images.length > 0" [src]="room.images[0]" alt="Room image" />
                <span class="ad-card-badge ">{{ room?.discount | currency
                  }}<span class="text-xs font-thin"> per night </span></span>
                <div class="icons">
                  <span [routerLink]="['/RoomDetails',room._id]"
                    class="mx-2"><mat-icon class="eye">visibility</mat-icon></span><button (click)="addToFavourite(room._id)"><mat-icon class="heart">favorite</mat-icon></button>
                </div>
                <div class="room-content">
                  <p>{{ room?.roomNumber }}</p>
                  <p>Lorem ipsum mollitia</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end second section -->
    <!-- start section Houses with beauty backyard -->
    <div class="Houses with beauty backyard my-20">
      <h1 class="text-2xl font-medium">{{"Houses with beauty backyard.title" | translate}}</h1>
      <div class="grid grid-cols-12 gap-12">
        <div *ngFor="let room of roomList | slice : 2 : 6" class="col-span-12 md:col-span-3 mt-5">
          <div class="room-description relative ad-card card">
            <img *ngIf="room.images.length > 0" [src]="room.images[0]" alt="Room image" />
            <span class="ad-card-badge">{{ room?.discount | currency
              }}<span class="text-xs font-thin"> per night </span></span>
            <div class="icons">
              <span [routerLink]="['/RoomDetails',room._id]"
                class="mx-2"><mat-icon class="eye">visibility</mat-icon></span><button (click)="addToFavourite(room._id)"><mat-icon class="heart">favorite</mat-icon></button>
            </div>
            <div class="section-content mt-2">
              <h6 class="font-medium text-blue-950">{{ room?.roomNumber }}</h6>
              <p class="font-light text-sm text-gray-500">Lorem ipsum mollitia</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end Houses with beauty backyard Section -->

    <!-- start ads -->
    <div class="AdsWrapper my-20">
      <h1 class="text-2xl font-medium">{{"Ads.title" | translate}}</h1>
      <div class="grid grid-cols-12 gap-5">
        <div *ngFor="let ads of AdsList | slice : 4 : 8" class="col-span-12 md:col-span-3 mt-12">
          <div class="room-description relative ad-card card">
            <img *ngIf="ads.room.images.length > 0" [src]="ads.room.images[0]" alt="Room image" />
            <span class="ad-card-badge">{{ ads?.room.discount | currency
              }}<span class="text-xs font-thin"> Off </span></span>
            <div class="icons">
              <span [routerLink]="['/RoomDetails',ads.room._id]"
                class="mx-2"><mat-icon class="eye">visibility</mat-icon></span><button (click)="addToFavourite(ads.room._id)"><mat-icon class="heart">favorite</mat-icon></button>
            </div>
            <div class="section-content mt-2">
              <h6 class="font-medium text-blue-950">{{ ads?.room.roomNumber }}</h6>
              <p class="font-light text-sm text-gray-500">Lorem ipsum mollitia</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end ads -->

    <!-- start carousal -->
    <div class="home-carousal my-24">
      <owl-carousel-o #owlCarousel [options]="customOptions">
        <ng-template carouselSlide>
          <div class="grid grid-cols-12 gap-4">
            <div class="col-span-12 lg:col-span-4">
              <div class="img-wrapper">
                <img src="/assets/images/foto_keluarga.png" alt="" class="w-full h-full" />
              </div>
            </div>
            <div class="col-span-12 lg:col-span-8 py-14 px-5">
              <div class="carousal-description">
                <h5 class="text-xl font-medium my-5">{{"carousal.title" | translate}}</h5>
                <p class="carousal-icons text-yellow-400 text-lg">
                  <mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon>
                </p>
                <p class="my-4 text-3xl font-light">{{"carousal.descriprion" | translate}} </p>
                <p class="my-4 text-3xl font-light">{{"carousal.descriprion_two" | translate}} </p>
                <span class="text-sm text-gray-400">{{"carousal.user" | translate}}</span>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="grid grid-cols-12 gap-4">
            <div class="col-span-12 lg:col-span-4">
              <div class="img-wrapper">
                <img src="/assets/images/foto_keluarga.png" alt="" class="w-full h-full" />
              </div>
            </div>
            <div class="col-span-12 lg:col-span-8 py-14 px-5">
              <div class="carousal-description">
                <h5 class="text-xl font-medium my-5">{{"carousal.title" | translate}}</h5>
                <p class="carousal-icons text-yellow-400 text-lg">
                  <mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon>
                </p>
                <p class="my-4 text-3xl font-light">{{"carousal.descriprion" | translate}} </p>
                <p class="my-4 text-3xl font-light">{{"carousal.descriprion_two" | translate}} </p>
                <span class="text-sm text-gray-400">{{"carousal.user" | translate}}</span>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="grid grid-cols-12 gap-4">
            <div class="col-span-12 lg:col-span-4">
              <div class="img-wrapper">
                <img src="/assets/images/foto_keluarga.png" alt="" class="w-full h-full" />
              </div>
            </div>
            <div class="col-span-12 lg:col-span-8 py-14 px-5">
              <div class="carousal-description">
                <h5 class="text-xl font-medium my-5">{{"carousal.title" | translate}}</h5>
                <p class="carousal-icons text-yellow-400 text-lg">
                  <mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon>
                </p>
                <p class="my-4 text-3xl font-light">{{"carousal.descriprion" | translate}} </p>
                <p class="my-4 text-3xl font-light">{{"carousal.descriprion_two" | translate}} </p>
                <span class="text-sm text-gray-400">{{"carousal.user" | translate}}</span>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
    <!-- end carousal -->
  </div>
</section>
