<div class=" grid grid-cols-1 md:grid-cols-2 min-h-screen">
  <div class="ps-5 ">
    <img src="assets/images/logo.svg" class="ps-5 pt-6" alt="logo">
    <div class="flex justify-center items-center flex-col">
      <div class=" w-3/4 m-auto  my-10">
        <h2 class="text-4xl font-medium my-5">{{'register.signUp'|translate}}</h2>
        <p>{{'register.noAccount'|translate}}</p>
        <p>{{'register.youCan'|translate}} <a routerLink="/auth/login" class="text-[#EB5148] font-bold"> {{'register.loginHere'|translate}}</a></p>
      </div>
      <div class="w-3/4 m-auto ">
<form class="w-full" [formGroup]="registerForm" (ngSubmit)="register()">
  <div>
    <div class="profile-image-wrapper mb-3">
      <img [src]="previewImg" alt="Profile Image" class="rounded-circle border profile-img shadow-sm">
      <button type="button" aria-label="Remove image" (click)="onRemove()" class="delete-btn">
        <mat-icon>close</mat-icon>
      </button>
      <ngx-dropzone (change)="onSelect($event)" class="upload-btn border-0 shadow-sm">
        <ngx-dropzone-label>
          <mat-icon>camera_alt</mat-icon>
        </ngx-dropzone-label>
      </ngx-dropzone>
    </div>
  </div>

  <!-- User Name -->
  <div>
    <mat-label class="text-[#152C5B]">{{ 'register.userName' | translate }}</mat-label>
    <mat-form-field appearance="outline" class="w-full transparent-input mt-4">
      <input type="text" matInput placeholder="{{ 'register.typeHere' | translate }}" formControlName="userName" />
      <mat-error *ngIf="registerForm.get('userName')?.errors?.['required'] && registerForm.get('userName')?.touched">
        {{ 'register.errors.userNameRequired' | translate }}
      </mat-error>
    </mat-form-field>
  </div>

  <!-- Phone Number -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
    <div>
      <mat-label class="text-[#152C5B]">{{ 'register.phoneNumber' | translate }}</mat-label>
      <mat-form-field appearance="outline" class="w-full transparent-input mt-4">
        <input type="text" matInput placeholder="{{ 'register.typeHere' | translate }}" formControlName="phoneNumber" />
        <mat-error *ngIf="registerForm.get('phoneNumber')?.errors?.['required'] && registerForm.get('phoneNumber')?.touched">
          {{ 'register.errors.phoneRequired' | translate }}
        </mat-error>
        <mat-error *ngIf="registerForm.get('phoneNumber')?.errors?.['pattern'] && registerForm.get('phoneNumber')?.touched">
          {{ 'register.errors.phonePattern' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Country -->
    <div>
      <mat-label class="text-[#152C5B]">{{ 'register.country' | translate }}</mat-label>
      <mat-form-field appearance="outline" class="w-full transparent-input mt-4">
        <input type="text" matInput placeholder="{{ 'register.typeHere' | translate }}" formControlName="country" />
        <mat-error *ngIf="registerForm.get('country')?.hasError('required') && registerForm.get('country')?.touched">
          {{ 'register.errors.countryRequired' | translate }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <!-- Email -->
  <div>
    <mat-label class="text-[#152C5B]">{{ 'register.emailAddress' | translate }}</mat-label>
    <mat-form-field appearance="outline" class="w-full transparent-input mt-4">
      <input type="email" matInput placeholder="{{ 'register.enterEmail' | translate }}" formControlName="email" />
      <mat-error *ngIf="registerForm.get('email')?.errors?.['required'] && registerForm.get('email')?.touched">
        {{ 'register.errors.emailRequired' | translate }}
      </mat-error>
      <mat-error *ngIf="registerForm.get('email')?.errors?.['email'] && registerForm.get('email')?.touched">
        {{ 'register.errors.emailInvalid' | translate }}
      </mat-error>
    </mat-form-field>
  </div>

  <!-- Password -->
  <div>
    <mat-label class="text-[#152C5B]">{{ 'register.password' | translate }}</mat-label>
    <mat-form-field appearance="outline" class="w-full mt-4">
      <input matInput placeholder="{{ 'register.enterPassword' | translate }}" [type]="hidePassword ? 'password' : 'text'" formControlName="password" />
      <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'hidePassword password'" [attr.aria-pressed]="hidePassword">
        <mat-icon class="custom-icon">{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="registerForm.get('password')?.errors?.['required'] && registerForm.get('password')?.touched">
        {{ 'register.errors.passwordRequired' | translate }}
      </mat-error>
      <mat-error *ngIf="registerForm.get('password')?.errors?.['minlength'] && registerForm.get('password')?.touched">
        {{ 'register.errors.passwordMin' | translate }}
      </mat-error>
      <mat-error *ngIf="registerForm.get('password')?.errors?.['maxlength'] && registerForm.get('password')?.touched">
        {{ 'register.errors.passwordMax' | translate }}
      </mat-error>
    </mat-form-field>
  </div>

  <!-- Confirm Password -->
  <div>
    <mat-label class="text-[#152C5B]">{{ 'register.confirmPassword' | translate }}</mat-label>
    <mat-form-field appearance="outline" class="w-full mt-4">
      <input matInput placeholder="{{ 'register.enterConfirmPassword' | translate }}" [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" />
      <button type="button" mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
        [attr.aria-label]="'HideConfirmPassword password'" [attr.aria-pressed]="hideConfirmPassword">
        <mat-icon class="custom-icon">{{ hideConfirmPassword ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-error *ngIf="registerForm.get('confirmPassword')?.hasError('required') && registerForm.get('confirmPassword')?.touched">
      {{ 'register.errors.confirmPasswordRequired' | translate }}
    </mat-error>
    <mat-error *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmPassword')?.touched">
      {{ 'register.errors.confirmPasswordMismatch' | translate }}
    </mat-error>
  </div>

  <!-- Submit Button -->
  <button type="submit" [disabled]="registerForm.invalid" [class.btn-disabled]="registerForm.invalid"
    class="btn my-5 w-full" color="primary">
    {{ 'register.signupBtn' | translate }}
  </button>
</form>

      </div>
    </div>
  </div>

  <div class="w-full min-h-full p-2">
    <div class="w-full h-full sideImg text-white  md:block relative">
      <div class="absolute top-3/4  w-full ps-16">
        <p class="text-5xl pb-3 w-full">Sign in to Roamhome</p>
        <h3>Homes as unique as you.</h3>
      </div>
    </div>
  </div>

</div>
