.layout {
    display: flex;
    min-height: 100vh;

    .sidebar_area {
        flex: 0 0 60px;
        background: #000;
    }

    .main_content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: rgb(5, 102, 132);
    }
}
