<!-- <div class=" grid grid-cols-1 md:grid-cols-2 min-h-screen overflow-hidden">
    <div class=" ps-5 ">
        <img src="./assets/images/logo.svg" class="ps-5 pt-6" alt="">
        <div class="flex justify-center items-center flex-col">
            <div class=" w-3/4 m-auto  my-10">
                <h2 class="text-4xl my-5">Forgot password</h2>
                <p>You can <a routerLink="/auth/login" class="text-[#EB5148] font-bold"> Login here !</a></p>
            </div>
            <div class="w-3/4 m-auto ">
                <form class="w-full" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm)">


                    <div>
                        <mat-label class="text-[#152C5B]">Email Address</mat-label>
                        <mat-form-field class="w-full transparent-input mt-4">
                            <input type="email" matInput placeholder="Enter your E-mail" formControlName="email" />
                            <mat-error
                                *ngIf="(forgotPasswordForm.get('email')?.errors?.['required'] || forgotPasswordForm.get('email')?.errors?.['email']) && forgotPasswordForm.get('email')?.touched">
                                E-mail is required or incorrect
                            </mat-error>
                        </mat-form-field>
                    </div>



                    <button type="submit" class="btn my-20" color="primary">Send mail</button>
                </form>
            </div>
        </div>
    </div>
    <div class="relative w-full h-full rounded-lg ">
        <img src="./assets/images/bg sign up.svg" class="absolute inset-0 w-full h-full object-contain p-5" alt="">
    </div>
</div> -->
