<Section>
    <div class="py-10 font-bold">
        <h2>Booking Table Details</h2>
        <p>You can check all details</p>
    </div>
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
        class="mat-elevation-z8 improved-table">

        <!-- roomNumber -->
        <ng-container matColumnDef="roomNumber">
            <th mat-header-cell *matHeaderCellDef>
                <div mat-sort-header>roomNumber</div>
                <input placeholder="Filter room number" class="filter-input"
                    (input)="applyFilter($event, 'roomNumber')">
            </th>
            <td mat-cell *matCellDef="let element"> {{element.room.roomNumber}} </td>
        </ng-container>

        <!-- totalPrice -->
        <ng-container matColumnDef="totalPrice">
            <th mat-header-cell *matHeaderCellDef>
                <div mat-sort-header>totalPrice</div>
                <input placeholder="Filter price" class="filter-input" (input)="applyFilter($event, 'totalPrice')">
            </th>
            <td mat-cell *matCellDef="let element"> {{element.totalPrice}} </td>
        </ng-container>

        <!-- startDate -->
        <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef>
                <div mat-sort-header>startDate</div>
                <input type="date" placeholder="Filter start date" class="filter-input"
                    (input)="applyFilter($event, 'startDate')">
            </th>
            <td mat-cell *matCellDef="let element"> {{element.startDate | date:'dd-MM-yyyy'}} </td>
        </ng-container>

        <!-- endDate -->
        <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef>
                <div mat-sort-header>endDate</div>
                <input type="date" placeholder="Filter end date" class="filter-input"
                    (input)="applyFilter($event, 'endDate')">
            </th>
            <td mat-cell *matCellDef="let element"> {{element.endDate | date:'dd-MM-yyyy'}} </td>
        </ng-container>

        <!-- userName -->
        <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef>
                <div mat-sort-header>userName</div>
                <input placeholder="Filter user name" class="filter-input" (input)="applyFilter($event, 'userName')">
            </th>
            <td mat-cell *matCellDef="let element"> {{element.user.userName}} </td>
        </ng-container>

        <!-- Action -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>
                <div>Action</div>
            </th>
            <td mat-cell *matCellDef="let element">
                <button class="center gap-2">
                    <mat-icon class="text-primary">visibility</mat-icon> <span>View</span>
                </button>
            </td>
        </ng-container>

        <!-- header -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <!-- data row -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div>
        <mat-paginator [length]="totalCount" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page"
            (page)="handlePageEvent($event)" [pageIndex]="page +1" [pageSize]="size"
            [showFirstLastButtons]="showFirstLastButtons">
        </mat-paginator>
    </div>
</Section>