// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use "@angular/material" as mat;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

//global style
html {
  @include mat.theme((color: (theme-type: light,
        primary: mat.$blue-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

// border-radios Dialog
:root {
  @include mat.dialog-overrides((container-shape:10px));
  @include mat.form-field-overrides((outlined-container-shape: 4px,
      outlined-outline-width: 1px,
      outlined-outline-color: #F5F6F8,
      outlined-focus-outline-color: #F5F6F8,
      outlined-hover-outline-color: #F5F6F8,
      outlined-error-outline-color: red,
    ));
}



html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Poppins", "sans-serif"
}

// custom style
.btn {
  @apply bg-primary text-white py-3 rounded-lg border border-primary transition duration-300 ease-in-out;
}

.btn:hover {
  @apply bg-white text-primary;
}

.center {
  @apply flex justify-center items-center;
}

// mat error
.mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
  font-size: 16px;
}

// disable button
.btn-disabled {
  background-color: #ccc;
  cursor: not-allowed;
  border-color: #ccc;
}

// pagination
.mat-mdc-paginator-page-size-label {
  display: none !important;
}

// input
.mat-mdc-text-field-wrapper.mdc-text-field--outlined {
  background-color: #F5F6F8 !important;
  border-radius: 4px !important;
}

.message-input {
  .mat-mdc-text-field-wrapper {
  border: 1px solid #203FC7 !important;
  border-radius: 15px !important;
  background: transparent !important;
}
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mat-mdc-notch-piece{
  border-radius: 15px !important;

}
}
