// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use "@angular/material" as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @include mat.theme((color: (theme-type: light,
        primary: mat.$blue-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

// border-radios Dialog
:root {
  @include mat.dialog-overrides((container-shape:10px));
  @include mat.form-field-overrides((outlined-container-shape: 4px,
      outlined-outline-width: 1px,
      outlined-outline-color: #F5F6F8,
      outlined-focus-outline-color: #F5F6F8,
      outlined-hover-outline-color: #F5F6F8,
      outlined-error-outline-color: red,
      ));

}



html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn {
  @apply bg-primary text-white py-3 rounded-lg border border-primary transition duration-300 ease-in-out;
}

.btn:hover {
  @apply bg-white text-primary;
}

.center {
  @apply flex justify-center items-center;
}

// mat error
.mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
  font-size: 16px;
}

// disable button
.btn-disabled {
  background-color: #ccc;
  cursor: not-allowed;
  border-color: #ccc;
}

// pagination
.mat-mdc-paginator-page-size-label {
  display: none !important;
}
// input
.mat-mdc-text-field-wrapper.mdc-text-field--outlined {
  background-color: #F5F6F8 !important;
  border-radius: 4px !important;
}
::ng-deep .mat-mdc-form-field .mat-mdc-input-element::placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: 0;
  color: #0b47af;
}

