// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use "@angular/material" as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$blue-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn {
  @apply bg-[#3252DF]
    text-white
    py-3
    rounded-lg
    w-full
    border
    border-[#3252DF]
    transition
    duration-300
    ease-in-out;
}

.btn:hover {
  @apply bg-white
    text-[#3252DF];
}
// mat error
.mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
  font-size: 16px;
}


